<!DOCTYPE html>
<html>
<head>
    <title>Треугольники из базы данных</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
    <a href="{% url 'home' %}">Назад на главную страницу</a>
    <h1>Треугольники из базы данных</h1>
    <table>
        <thead>
            <tr>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>Площадь</th>
                <th>Периметр</th>
            </tr>
        </thead>
        <tbody>
            {% for triangle in triangles %}
                <tr>
                    <td>{{ triangle.get_first_side }}</td>
                    <td>{{ triangle.get_second_side }}</td>
                    <td>{{ triangle.hypotenuse }}</td>
                    <td>{{ triangle.area }}</td>
                    <td>{{ triangle.perimeter }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
